body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "PT Serif", serif;
}

/* In mobile browser, form fields does not zoom in when on focus */
/* the font size of 16px is used to prevent the zoom */
select.form-control,
textarea.form-control,
input.form-control {
    font-size: 16px;
}

/* Set the width of the input type file to prevent the page on mobile */
/* from overflowing and adding scrollbar. */
input[type=file] {
    width: 100%;
}

@media all and (max-width: 480px) {
    h1, h2, h3, h4, h5, h6 {
	font-size: 1.5em;
    }
}
